// Import fonts ===============================================================
// &display=swap&subset=cyrillic-ext
//@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

// Import *.scss =========================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================

$baseFont: Comfortaa;

// Base styles ================================================================
body {
	font-family: $baseFont;
	color: #f5f5f5;
	background-color: #262c37;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 81.25rem;
	margin: 0 auto;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}

// Header =====================================================================


// Main =======================================================================

// ============================================================================

// ============================================================================

// ============================================================================

// ============================================================================

// Footer =====================================================================