// Import fonts ===============================================================

// Import *.scss ==============================================================
@import "_reset";
@import "_ibg";

// Set variables ==============================================================

// Base styles ================================================================
body {
	padding: 0;
	margin: 0;
	font-family: "Shadows Into Light", cursive;
	color: #f5f5f5;
	background-color: #262c37;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// Header =====================================================================

// Main =======================================================================
.hole {
	flex: 1 0 24.9%;
	overflow: hidden;
	position: relative;
	@media (max-width: 425px) {
		height: 75px;
	}
	&:after {
		content: "";
		display: block;
		background: url(../img/hole-1.png) bottom center no-repeat;
		background-size: contain;
		width: 100%;
		height: 45px;
		position: absolute;
		z-index: 2;
		bottom: -10px;
		@media (max-width: 768px) {
			width: 90%;
			left: 5%;
		}
		@media (max-width: 425px) {
			width: 80%;
			left: 10%;
		}
	}
	&.up .mole {
		top: 0;
	}
	@media (max-width: 768px) {
		flex: 1 0 30%;
	}
	@media (max-width: 425px) {
		flex: 1 0 48%;
	}
}

.mole {
	background: url(../img/mole-2.png) bottom center no-repeat;
	background-size: 55%;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease;
	&.bonus {
		background: url(../img/clock.png) bottom center no-repeat;
		background-size: 50%;
		@media (max-width: 768px) {
			background-size: 42%;
		}
		@media (max-width: 425px) {
			background-size: 40%;
		}
	}
	@media (max-width: 768px) {
		background-size: 45%;
	}
	@media (max-width: 425px) {
		background-size: 42%;
	}
}
// ============================================================================
.cursor {
	position: absolute;
	width: 100px;
	height: 130px;
	user-select: none;
	pointer-events: none;
	transform: translate(-50%, -50%);
	z-index: 5;
	background-image: url(../img/humm.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
	&.animate {
		animation: hammer 0.1s linear;
	}
}

/* Створюємо анімацію */
@keyframes hammer {
	0% {
		/* Початкова позиція курсора */
		transform: translate(-50%, -50%) rotate(0deg);
	}
	50% {
		/* Проміжна позиція курсора */
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	100% {
		/* Кінцева позиція курсора */
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.boom {
	position: absolute;
	width: 120px;
	height: 100px;
	z-index: 999;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}
// ============================================================================
.start {
	text-align: center;
}

.title {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
	height: 5rem;
	background-color: #262c37;
	margin-bottom: 5px;
	z-index: 50;
	h1 {
		flex: 1 1 auto;
		color: rgb(104, 94, 114);
	}
	div,
	button {
		flex: 0 0 auto;
	}
	div {
		margin-right: 1.5rem;
	}
	button {
		width: 2rem;
		height: 2rem;
		background-image: url(../img/svg/options.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 100%;
	}
	@media (max-width: 425px) {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
}

.game {
	min-height: 470px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 30px 15px;
	border: #f5f5f5 solid 5px;
	border-radius: 10px;
	margin: 0 auto;
	background-image: url(../img/background.jpg);
	cursor: none;
	@media (max-width: 768px) {
		gap: 5px;
	}
	@media (max-width: 425px) {
		padding: 15px 0;
	}
}

.start {
	margin-bottom: 1rem;
	button {
		border-radius: 10px;
		transition: 0.2s linear;
		background: rgba(190, 19, 19, 0.2);
		padding: 0 15px;
		font-size: 3rem;
		letter-spacing: 0.2rem;
		cursor: none;
		&:hover {
			box-shadow: 0 0 0 2px #f5f5f5, 0 0 0 4px rgba(190, 19, 19, 0.2);
		}
		@media (max-width: 425px) {
			font-size: 2rem;
		}
	}
}

// ============================================================================
.options-window {
	position: absolute;
	width: 24rem;
	right: 1.5rem;
	top: -100%;
	color: #262c37;
	background-color: #f5f5f5;
	border: #262c37 8px double;
	border-radius: 1rem;
	padding: 1.5rem;
	transition: all 0.4s ease;
	z-index: 5;
	&.active {
		top: 5rem;
	}
	> div {
		font-size: 2rem;
		button {
			position: relative;
			flex: 0 0 auto;
			overflow: hidden;
			.active-btn {
				position: absolute;
				right: 0;
				bottom: 0;
				width: 1rem;
				height: 1rem;
				background-image: url(../img/check.png);
				background-repeat: no-repeat;
				background-size: 100%;
				display: none;
			}
			&.active .active-btn {
				display: block;
			}
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
				z-index: -1;
			}
		}
	}
	h2 {
		font-size: 3rem;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	@media (max-width: 768px) {
	}
	@media (max-width: 425px) {
		right: 1rem;
	}
}

.lang {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	h3 {
		flex: 1 1 auto;
	}
	button {
		height: 2rem;
		width: 2rem;
		border-radius: 6px;
	}
	#us {
		margin-right: 0.5rem;
	}
}
.sound {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.5rem;
	h3 {
		flex: 1 1 auto;
	}
	button {
		height: 2rem;
		width: 2rem;
		border-radius: 6px;
	}
	#on {
		margin-right: 0.5rem;
	}
}
// ============================================================================

// ============================================================================

// Footer =====================================================================
